@import url(http://fonts.googleapis.com/css?family=Megrim);


body {	
	background-color: #3A3E3D;
}

header {
	text-align: center;
	margin-bottom: 60px;
}

/*#container { 
	position: relative; 
}*/

/*actual canvas*/
#actualCanvas { 
	border: 1px solid #EC07EC;
	background-color: #565656;
	border-radius: 6px; 
	margin-top: 15px;
}

.image-info {
	/*width: 269px;*/
/*	float: right;
*/	/*top: 355px;*/
	position: relative;
	color: #EAEAEA;
	margin-left: 30px;
	margin-bottom: 50px;
}

.drawing-image {
	border: 1px solid #EC07EC;
	margin-left: 30px;
	margin-bottom: 10px;
	background-color: #565656;
	border-radius: 6px;
}

.modalDialog {
	position: fixed;
	font-family: Arial;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 4px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: white;
	border: 2px solid #25FFC3;
	color: magenta;
	line-height: 24px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -14px;
	width: 24px;
	text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover { 
	background: #25FFC3; 
	color: white;
}

.hidden {
	display: none;
}

.launchButtons {
	text-align: center;
	margin-top: 150px;
}

.logInButton {
	text-align: center;
}

.signUpButton {
	text-align: center;
}

.width {
	width: 150px;
}

ul {
  display:inline-block;
  float: right;
  text-align: left;
  padding-top: 25px; 
  position: fixed;
  right: 0;
  margin-right: 80px;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.cubes {
	right: 0;
  display: inline-block;
  margin-left: 500px;
}

#drawingContainer {
	text-align: center;
}

.words {
	text-align: left;
	color: #EAEAEA;
	margin-left: 150px;
}

#rubyWord {
	font-size: 2.2em;
	color: #EC07EC;
}

#refresh {
	color: #EAEAEA;
}

.subhed {
	font-family: Megrim;
	color: #EC07EC;
}