@import url(http://fonts.googleapis.com/css?family=Megrim);

#wrapper {
	width: 960px;
	margin: 0 auto;
}

body {	
	background-color: #3A3E3D;
}

header {
	margin-bottom: 80px;
}



/*//////// canvas and random words ////////*/

/* actual canvas */
#actualCanvas { 
	background-color: #565656;
	border: 1px solid #EC07EC;
	border-radius: 6px; 
	margin-top: 15px;
}

/* words, canvas, and buttons */
#drawingContainer {
	width: 100%;
  margin: 0 auto;
}

/* canvas only */
#container {
	display: inline-block;
}

/* words only */
.words {
	color: #EAEAEA;
	position: relative;
	margin-left: 30px;
	margin-bottom: 5px;
}

#rubyWord {
	font-size: 2.2em;
	color: #EC07EC;
}

.image-info {
	position: relative;
	color: #EAEAEA;
	margin-left: 30px;
	margin-bottom: 50px;
}

.drawing-image {
	background-color: #565656;
	border: 1px solid #EC07EC;
	margin-left: 30px;
	margin-bottom: 4px;
	border-radius: 6px;
}



/*//////// modal for how-to ////////*/
.modalDialog {
	position: fixed;
	font-family: Arial;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 4px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: white;
	border: 2px solid #25FFC3;
	color: magenta;
	line-height: 24px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -14px;
	width: 24px;
	text-decoration: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover { 
	background: #25FFC3; 
	color: white;
}







/*////////  buttons ////////*/
.launchButtons {
	text-align: center;
	margin-top: 150px;
}

.logInButton .signUpButton {
	text-align: center;
}

.width {
	width: 150px;
}

#menu {
	margin-top: -150px;
	margin-bottom: 190px;
	text-align: left;
}

.save {
	margin-left: 5px;
}

#buttons {
	margin-top: 6px;
	margin-bottom: 60px;
}

.hidden {
	display: none;
}



/*////////  misc ////////*/
ul {
  display: inline-block;
  float: right;
  text-align: left;
  right: 0;
  padding-top: 25px; 
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/* header cubes */
#cubes {
	position: absolute;
	left: 25rem;
}

/* homepage cubes */
.cubes {
	display: inline-block;
	margin-left: 400px;
}

#refresh {
	color: #EAEAEA;
}

.subhed {
	font-family: 'Megrim', cursive;
	color: #EC07EC;
}

#logo {
	text-align: center;
}